.pagination {
  display: flex;
  align-items: center;
  list-style-type: none;
  border: 2px dotted white;
  margin-left: 15px;
  padding: 0;
  height: 18px;
}
.pagination .pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: inherit;
  border-right: 2px dotted white;
  font-size: 13px;
  cursor: pointer;
}
.pagination .pagination__item .pagination__item--link {
  color: #fff;
  text-decoration: none;
}
.pagination .pagination__item:last-child {
  border-right: none;
}
.pagination .pagination__item .active {
  width: 15px;
  height: 12px;
  background-color: #fff;
}
